body {
    font-family: 'Rock Salt', cursive;
}

#whole-app {
    max-width: 900px;
    margin: 30px auto;
    border: 1px solid black;
    border-radius: 5px;
}

h1 {
    color: purple;
 }

ul {
    margin: 0;
    padding: 0;
}

 li {
     list-style: none;
     text-transform: capitalize;
 }

.current-temperature img {
    margin: 30 auto;
    position: relative;
}

 .current-temperature strong {
     font-size: 45px;
     font-weight: 300;
     line-height: 1;
     top: 10px;
 }

 .current-temperature .units {
     position: relative;
     font-size: 15px;
     top: -20px;
 }

#days-of-week {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    margin: 0 auto 10px;
}

#source-code-link {
    max-width: 900px;
    margin: 30px auto;
}